@model DomainModels.Models.ReceiptModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Message"]</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <div>
        <h4>@ViewData["Message"]</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.TransactionId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TransactionId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Amount)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Amount)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>
        </dl>
    </div>
</body>
</html>
